@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="welcome-container">
    <h1 class="welcome-title">¡Bienvenido a ASP.NET MVC!</h1>
    <p class="welcome-message">Esta es tu nueva aplicación ASP.NET MVC.</p>
</div>

@section Styles {
    <style>
        .welcome-container {
            text-align: center;
            margin-top: 50px;
        }

        .welcome-title {
            font-size: 2em;
            color: #2c3e50;
        }

        .welcome-message {
            font-size: 1.2em;
            color: #34495e;
        }
    </style>
}



